@media(max-width:540px){
  .hero_sec .col-xl-4:nth-child(1){
    order:1;
  }
  h1{
    font-size: 1.4rem!important;
  }
  h2{
    font-size: 1.5rem!important;
  }
  h3{
    font-size: 1.3rem!important;
  }
  .services_h1{
    font-size: 1.5rem!important;
  }
}
.services_h1{
  font-size: 1.5rem;
}
.hero_sec h1{
  font-size: 1.5rem;
}
h1{
  font-size: 2rem;
}
.form_sec{
  max-width: 350px;
box-shadow: 0px 0px 3px 0px rgb(0 0 0 / 75%);
border-radius: 10px;
}
.hero_sec span {
  color: #d18f06;
}

.hero_sec h1,
.hero_sec p {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
/* login and register modal */
#mc-embedded-subscribe{
  background-color: #0aa3d8;
  color:#ffffff;
}
.modal-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-size: cover;
  border-radius: 0.3rem;
  outline: 0;
  color: #fff;

}


.right-w3l input[type="submit"] {
  background: #4786ef;
  border: none;
  color: #fff;
  font-size: 1em;
  /* text-transform: uppercase; */
  letter-spacing: 1px;

  cursor: pointer;
}

.col-form-label {
  /* text-transform: uppercase; */
  font-weight: 600;
  color: #000;
  font-size: 13px;
  /* letter-spacing: 1px; */
}

.modal-header {
  background: #387ae9;
  color: #fff;
  border: none;
}

.modal-body {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1rem;
  background: #fff;
}

h5.modal-title {
  /* letter-spacing: 1px; */
  font-size: 1.6em;
}

/* //modal */
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    height: 80px;
    transition: all 0.5s;
    z-index: 997;
    transition: all 0.5s;
    padding: 20px 0;
    background: #2d6760;
  }
  
  #header.header-scrolled {
    background: #1d443f;
    height: 60px;
    padding: 10px 0;
  }
  
  #header .logo h1 {
    font-size: 30px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 1px;
  }
  
  #header .logo h1 a, #header .logo h1 a:hover {
    color: #fff;
    text-decoration: none;
  }
  
  #header .logo img {
    padding: 0;
    margin: 0;
    max-height: 40px;
  }
  
  @media (max-width: 768px) {
    #header .logo h1 {
      font-size: 28px;
      padding: 8px 0;
    }
  }
  
  #main {
    margin-top: 80px;
  }
  
  /*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
  /* Desktop Navigation */
  .nav-menu, .nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .nav-menu > ul > li {
    position: relative;
    white-space: nowrap;
    float: left;
  }
  
  .nav-menu a {
    display: block;
    position: relative;
    color: #d2ece9;
    padding: 10px 15px;
    transition: 0.3s;
    font-size: 14px;

  }
  
  .nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
    color: #fff;
    text-decoration: none;
  }
  
  .nav-menu .drop-down ul {
    display: block;
    position: absolute;
    left: 0;
    top: calc(100% - 30px);
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    padding: 10px 0;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: ease all 0.3s;
  }
  
  .nav-menu .drop-down:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }
  
  .nav-menu .drop-down li {
    min-width: 180px;
    position: relative;
  }
  
  .nav-menu .drop-down ul a {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    text-transform: none;
    color: #25564f;
  }
  
  .nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
    color: #70b9b0;
  }
  
  .nav-menu .drop-down > a:after {
    content: "\ea99";
    font-family: IcoFont;
    padding-left: 5px;
  }
  
  .nav-menu .drop-down .drop-down ul {
    top: 0;
    left: calc(100% - 30px);
  }
  
  .nav-menu .drop-down .drop-down:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
  }
  
  .nav-menu .drop-down .drop-down > a {
    padding-right: 35px;
  }
  
  .nav-menu .drop-down .drop-down > a:after {
    content: "\eaa0";
    font-family: IcoFont;
    position: absolute;
    right: 15px;
  }
  
  @media (max-width: 1366px) {
    .nav-menu .drop-down .drop-down ul {
      left: -90%;
    }
    .nav-menu .drop-down .drop-down:hover > ul {
      left: -100%;
    }
    .nav-menu .drop-down .drop-down > a:after {
      content: "\ea9d";
    }
  }
  
  /* Mobile Navigation */
  .mobile-nav {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 9999;
    overflow-y: auto;
    left: -260px;
    width: 260px;
    padding-top: 18px;
    background: #01292a;
    transition: 0.4s;
  }
  
  .mobile-nav * {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .mobile-nav a {
    display: block;
    position: relative;
    color: #d2ece9;
    padding: 10px 20px;
    font-weight: 500;
  }
  
  .mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
    color: #9cd5ce;
    text-decoration: none;
  }
  
  .mobile-nav .drop-down > a:after {
    content: "\ea99";
    font-family: IcoFont;
    padding-left: 10px;
    position: absolute;
    right: 15px;
  }
  
  .mobile-nav .active.drop-down > a:after {
    content: "\eaa0";
  }
  
  .mobile-nav .drop-down > a {
    padding-right: 35px;
  }
  
  .mobile-nav .drop-down ul {
    display: none;
    overflow: hidden;
  }
  
  .mobile-nav .drop-down li {
    padding-left: 20px;
  }
  
  .mobile-nav-toggle {
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: right;
  }
  
  .mobile-nav-toggle i {
    color: #fff;
  }
  
  .mobile-nav-overly {
    width: 100%;
    height: 100%;
    z-index: 9997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(1, 41, 42, 0.9);
    overflow: hidden;
    display: none;
  }
  
  .mobile-nav-active {
    overflow: hidden;
  }
  
  .mobile-nav-active .mobile-nav {
    left: 0;
  }
  
  .mobile-nav-active .mobile-nav-toggle i {
    color: #fff;
  }
/*-- social-icons --*/  
.grandtax_header_left ul li {
    display: inline-block;
  
}
.header_contact p ,.header_para{
    color:#000000;
}
.top_header{
    background-color: #09347a;
}
.agileits-social ul{
	padding:0;
	margin:0;
	margin-top: 8px;
}
.agileits-social ul li{
	display:inline-block;
}
.agileits-social ul li a {
	color: #333;
    text-align: center;
}
.agileits-social ul li a i.fa.fa-facebook{
    height: 30px;
    width: 30px;
    background: #4369b8;
    line-height: 30px;
    color: #fff;
    border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.agileits-social ul li a i.fa.fa-facebook:hover {
   background-color: #fff;
   color:#4369b8;
}
.agileits-social ul li a i.fa.fa-twitter{
    height: 30px;
    width: 30px;
     background: #1da1f2;
    line-height: 30px;
    color: #fff;
    border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.agileits-social ul li a i.fa.fa-twitter:hover{
    background-color: #fff;
    color:#1da1f2;
}
.agileits-social ul li a i.fa.fa-instagram{
    height: 30px;
    width: 30px;
     /* background: #f26522; */
     background-image: linear-gradient(#5558c9,#d13c98);
    line-height: 30px;
    color: #fff;
    border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.agileits-social ul li a i.fa.fa-instagram:hover{
    background-image:linear-gradient(#ffff,#fff);
    color:#d13c98;
}
.agileits-social ul li a i.fa.fa-linkedin{
    height: 30px;
    width: 30px;
      background: #007ab3;
    line-height: 30px;
    color: #fff;
    border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.agileits-social ul li a i.fa.fa-linkedin:hover{
    background-color: #fff;
    color:#007ab3;
}
.agileits-social ul li:nth-child(2){
	margin:0 3px;
}
/* .agileits-social ul li:nth-child(3){
	margin:0 3px 0 0;
} */
.grandtax_top_header ul li{
    list-style: none;
}
.grandtax_top_header ul li a {
    color: #fff;
    padding: 0.5rem 0.5rem;
    font-size: 1rem;
    text-decoration: none;
   
}
.grandtax_top_header i {
    color: #f4ad1a;
    font-size: 14px;
}
/*-- //social-icons --*/

/* middle header */
.header_contact-icon i{
    font-size: 30px;
    color:#f26522;
}
.header a{
    color: #09347a!important;;
}
.header_contact{
    border-right: 1px solid gray;
}

/* end middle header */

/* comparision table */
table {
  position: relative;
  width: 100%;
  table-layout: fixed;
  overflow: hidden;
  border-collapse: collapse;
  margin-top: 40px;
  background: rgba(255, 255, 255, 0.8);
}

thead {
  position: relative;
  display: block;
  overflow: visible;
  width: 100%;
}

thead th {
  background-color: #df9d13;
  min-width: 243px;
  padding: 10px 15px !important;
  color: #ffffff;
  font-size: 1em;
  border: none !important;
  font-weight: 400;
}

thead th img {
  height: 16px;
  width: 16px;
  margin-left: 5px;
}

thead th:nth-child(1) {
  position: relative;
  display: block;
  background-color: #df9d13;
  padding: 10px 20px;
  color: #ffffff;
  box-shadow: 0 1px 2px #efefef;
  min-width: 200px;
}

tbody {
  position: relative;
  display: block;
  height: 550px;
  overflow: scroll;
  width: 100%;
}

tbody td {
  min-width: 238px;
  padding: 10px 15px !important;
  color: #000000;
  font-size: 1rem;
  border: none !important;
  vertical-align: middle !important;
}

tbody tr td:nth-child(1) {
  position: relative;
  display: block;
  background-color: #f5f9fb;
  border-bottom: 1px;
  border-right: 1px;
  box-shadow: 0 1px 2px #efefef;
  min-width: 200px;
  font-weight: 600;
}
tbody tr th{
  min-width: 200px!important;
}

tbody tr td:nth-child(1) img {
  width: 50px;
  height: 50px;
  margin-right: 5px;
}

table tr:nth-child(even) td:first-child {
  background: #e5e5e5;
}

table tr:nth-child(odd) td:first-child {
  background: #f5e1b9;
}
tbody tr td:nth-child(2){
  color:rgb(247, 54, 54);
}
thead tr th:nth-child(2){
  background-color: #0aa3d8; 
  color:#ffffff;
}

/* start testimonials */
.testimonial{ margin: 0 20px 50px; }
.testimonial .pic{
    display: inline-block;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin: 0 15px 15px 0;
}
.testimonial .pic img{
    width: 100%;
    height: auto;
    border-radius: 50%;
}
.testimonial .testimonial-profile{
    display: inline-block;
    position: relative;
    top: 15px;
}
.testimonial .title{
    display: block;
    font-size: 20px;
    font-weight: 600;
    color: #2f2f2f;
    text-transform: capitalize;
    margin: 0 0 7px 0;
}
.testimonial .post{
    display: block;
    font-size: 14px;
    color: #5d7aa7;
}
.testimonial .description{
    padding: 20px 22px;
    background: #1f487e;
    font-size: 15px;
    color: #fff;
    line-height: 25px;
    margin: 0;
    position: relative;
}
.testimonial .description:before,
.testimonial .description:after{
    content: "";
    border-width: 18px 0 0 18px;
    border-style: solid;
    border-color: #5d7aa7 transparent transparent;
    position: absolute;
    bottom: -18px;
    left: 0;
}
.testimonial .description:after{
    border-width: 18px 18px 0 0;
    left: auto;
    right: 0;
}
.owl-theme .owl-controls{
    margin-top: 10px;
    margin-left: 30px;
}
.owl-theme .owl-controls .owl-buttons div{
    opacity: 0.8;
    background: #fff;
}


/* end testimonials */

/* clients */
.our_clients{
  background-image: url('../images/Building.jpg');
  background-attachment: fixed;
  background-size: cover;
}
.slider {
  width: 100%;
  margin: auto;
  overflow: hidden;
}
.slider ul {
  display: flex;
  padding: 0;
  animation: cambio 10s infinite linear;
}
.slider li {
  padding:0 10px;
  list-style: none;
}
.slider img {
  max-width: fit-content !important;
  height: auto !important;
}
@keyframes cambio {
  from {margin-left: 0%}
  to {margin-left: -100%}
}

.card p{
  font-size: 14px;
}

/* start accordion */
.panel,
.panel-body {
  box-shadow: none;
}
.panel{
  background-color: #e9e8e4;
}
.panel-group .panel-heading {
  padding: 0;
}
.panel-title a{
  color: #000;;
}
.panel-group .panel-heading a {
  display: block;
  padding: 1rem;
  text-decoration: none;
  position: relative;
}

.panel-group .panel-heading a:after {
  content: '-';
  float: right;
}

.panel-group .panel-heading a.collapsed:after {
  content: '+';
}
